name: Android Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
      
    - name: Create Android project structure
      run: |
        mkdir -p app/src/main/java/com/adelina/space/
        mkdir -p app/src/main/res/layout/
        mkdir -p app/src/main/res/values/
        
        # Копируем файлы из следующего шага
        echo "$MANIFEST" > app/src/main/AndroidManifest.xml
        echo "$MAIN_ACTIVITY" > app/src/main/java/com/adelina/space/MainActivity.kt
        echo "$LAYOUT" > app/src/main/res/layout/activity_main.xml
        echo "$STRINGS" > app/src/main/res/values/strings.xml
        echo "$BUILD_GRADLE" > app/build.gradle
        echo "$GRADLE_WRAPPER" > gradle/wrapper/gradle-wrapper.properties
      env:
        MANIFEST: |
          <?xml version="1.0" encoding="utf-8"?>
          <manifest xmlns:android="http://schemas.android.com/apk/res/android">
              <uses-permission android:name="android.permission.INTERNET" />
              <application
                  android:allowBackup="true"
                  android:icon="@mipmap/ic_launcher"
                  android:label="Adelina Space"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
                  <activity
                      android:name=".MainActivity"
                      android:exported="true">
                      <intent-filter>
                          <action android:name="android.intent.action.MAIN" />
                          <category android:name="android.intent.category.LAUNCHER" />
                      </intent-filter>
                  </activity>
              </application>
          </manifest>
        MAIN_ACTIVITY: |
          package com.adelina.space
          import android.annotation.SuppressLint
          import android.os.Bundle
          import android.webkit.WebView
          import android.webkit.WebViewClient
          import androidx.appcompat.app.AppCompatActivity
          class MainActivity : AppCompatActivity() {
              @SuppressLint("SetJavaScriptEnabled")
              override fun onCreate(savedInstanceState: Bundle?) {
                  super.onCreate(savedInstanceState)
                  setContentView(R.layout.activity_main)
                  val webView: WebView = findViewById(R.id.webView)
                  webView.settings.javaScriptEnabled = true
                  webView.webViewClient = WebViewClient()
                  webView.loadUrl("https://adelina.space/home.aspx")
              }
          }
        LAYOUT: |
          <?xml version="1.0" encoding="utf-8"?>
          <WebView xmlns:android="http://schemas.android.com/apk/res/android"
              android:id="@+id/webView"
              android:layout_width="match_parent"
              android:layout_height="match_parent" />
        STRINGS: |
          <?xml version="1.0" encoding="utf-8"?>
          <resources>
              <string name="app_name">Adelina Space</string>
          </resources>
        BUILD_GRADLE: |
          plugins {
              id 'com.android.application'
              id 'org.jetbrains.kotlin.android'
          }
          android {
              namespace 'com.adelina.space'
              compileSdk 34
              defaultConfig {
                  applicationId "com.adelina.space"
                  minSdk 21
                  targetSdk 34
                  versionCode 1
                  versionName "1.0"
              }
              buildTypes {
                  release {
                      minifyEnabled false
                  }
              }
              compileOptions {
                  sourceCompatibility JavaVersion.VERSION_1_8
                  targetCompatibility JavaVersion.VERSION_1_8
              }
          }
          dependencies {
              implementation 'androidx.core:core-ktx:1.10.1'
              implementation 'androidx.appcompat:appcompat:1.6.1'
          }
        GRADLE_WRAPPER: |
          distributionBase=GRADLE_USER_HOME
          distributionPath=wrapper/dists
          distributionUrl=https\://services.gradle.org/distributions/gradle-8.0-bin.zip
          zipStoreBase=GRADLE_USER_HOME
          zipStorePath=wrapper/dists
    
    - name: Make gradlew executable
      run: |
        echo 'distributionBase=GRADLE_USER_HOME' > gradle/wrapper/gradle-wrapper.properties
        echo 'distributionPath=wrapper/dists' >> gradle/wrapper/gradle-wrapper.properties
        echo 'distributionUrl=https\\://services.gradle.org/distributions/gradle-8.0-bin.zip' >> gradle/wrapper/gradle-wrapper.properties
        echo 'zipStoreBase=GRADLE_USER_HOME' >> gradle/wrapper/gradle-wrapper.properties
        echo 'zipStorePath=wrapper/dists' >> gradle/wrapper/gradle-wrapper.properties
        wget https://github.com/sujithkanna/SmileyRating/releases/download/1.0.0/gradlew
        chmod +x gradlew
        
    - name: Build APK
      run: ./gradlew assembleDebug
      
    - name: Upload APK artifact
      uses: actions/upload-artifact@v3
      with:
        name: AdelinaSpace-APK
        path: app/build/outputs/apk/debug/app-debug.apk
